<div class="page-heading d-flex justify-content-center">
    <h1 class="d-flex align-items-center text-white">Timings & Location Details</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" [routerLink]="['/home']">Home</a>
                <a class="nav-link" [routerLink]="['/pricing']">Pricing</a>
                <a class="nav-link active" aria-current="page" routerLinkActive="timings">Timings & Location</a>
                <a class="nav-link" [routerLink]="['/course-details']">Course Details</a>
                <a class="nav-link" [routerLink]="['/about']">About Us</a>
                <a class="nav-link" [routerLink]="['/contact']">Contact Us</a>
            </div>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h3 class="text-center text-primary">We are open on all days of the week except on Tuesdays from 6 AM to 6 PM</h3>
    <h2 class="text-left text-seconday my-3">We are located at,</h2>
    <ul>
        <li>Holiday Inn, Whitefield, Bangalore</li>
        <li>Marriott, Koramangala, Bangalore</li>
    </ul>
</div>

<footer class="bg-dark text-center text-white mt-5">
    <div class="container p-4">
        <div class="d-flex flex-row justify-content-center">
            <a [routerLink]="['/contact']" class="text-white mx-5">Register For Classes</a>
            <a [routerLink]="['/course-details']" class="text-white mx-5">Course Details</a>
            <a [routerLink]="['/about']" class="text-white mx-5">About Us</a>
        </div>
    </div>
    <div class="text-center p-3 copyright">
        © 2020 Copyright:
        <a class="text-white" href="https://atchaya-saravanan.github.io/swimming-classes/">All rights reserved</a>
    </div>
</footer>