.cover-image {
    height: 500px;
}

.choose-us-box {
    width: 400px;

    img {
        width: 160px;
        height: 160px;
    }
}

.card-image {
    width: 425px;
    height: 276px;
}

.membership {
    background-color: lightblue;
}

.copyright {
    background-color: rgba(0, 0, 0, 0.2);
}